.question-navigation {
    flex: 0 0 20%;
    margin-right: 20px;
}

.quiz-question-wrapper {
    flex: 1;
}

.grid-item.visited {
    background-color: #d1e7dd;
    border-color: #badbcc;
    cursor: pointer;
}
