.option-button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-button.correct {
    background-color: #4CAF50; /* Green for correct answers */
    color: white;
}

.option-button.incorrect {
    background-color: #F44336; /* Red for incorrect answers */
    color: white;
}


.option-button.correct:hover{
    background-color: #4CAF50;
    cursor: not-allowed; /* Show not-allowed cursor */
}

.option-button.incorrect:hover {
    background-color: #F44336;
    cursor: not-allowed; /* Show not-allowed cursor */
}

.option-button:focus {
    background-color: #ffcc00; /* Yellow or any color for the selected state */
    color: #000; /* Adjust text color for contrast */
    transition: background-color 0.3s ease;
    opacity: 1;
}



.option-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.quiz-question h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #444;
}

.quiz-question ul {
    list-style-type: none;
    padding: 0;
}

.quiz-question li {
    margin-bottom: 10px;
}

.quiz-question button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #FFFAA0;
    color: black;
}

.quiz-question button:hover {
    background-color: #dbd67b;
    color: white;
}

.quiz-question button:visited {
    background-color: #ffcc00;
    color: black;
}

.quiz-question button:focus {
    background-color: #ffcc00;
    color: black;
}